@page "/map"

<div class="map-page-container">
    <div class="map-container">
        @for (int i = 0; i < 100; ++i)
        {
            <div class="@(i > 30 && i < 39 ? "road" : "off-road")"></div>
        }
    </div>
</div>
